* {
  margin: 0;
  padding: 0;
}


$color-base: #FAFAFA;
$color-primary: #FFF;
$color-secondary: #F5F5F5;
$color-secondary-light: #6c757d2c;
$color-secondary-lighter: #6c757d0c;
$color-secondary-dark: #6C757D;

$color-accent-yellow: #fec834;
$color-accent-red: #e84757;

$color-accent-purple: #DACAE3;
$color-accent-blue: #CDDAFD;
$color-accent-pink: #FAD2E1;
$color-accent-green: #D1E7DD;

$text-primary: #212529;
$text-secondary: #6C757D6C;
$text-secondary-light: #6C757D;
$text-secondary-dark: #6c757dc2;

$border-sm: 1px solid $color-secondary-lighter;

@mixin text-sm-bold {
    list-style-type: none;
    font-size: x-small;
    font-weight: 700;
    color: $text-primary;
}
@mixin text-md {
    list-style-type: none;
    font-size: small;
    font-weight: 700;
    color: $text-primary;
}
@mixin text-xsm {
    list-style-type: none;
    font-size: xx-small;
    font-weight: 400;
    color: $text-secondary-dark;
}
@mixin text-xsm-light {
    list-style-type: none;
    font-size: xx-small;
    color: $text-secondary-dark;
}

@mixin left-content($width) {
    height: 100%;
    min-width: $width;
    max-width: $width;  
}

@mixin label($col) {
    padding-left:.25rem;
    padding-right: .25rem;
    padding-bottom: .05rem;
    border-radius: .1rem;
    text-decoration: none;
    color: $text-primary;
    background-color: $col;
}

@mixin skill-title($col) {
    margin-right: .25rem !important;
    margin: 0;
    cursor: pointer;
    @include text-xsm();
    @include label($col);  
}

@mixin skill($col) {
    margin-right: .25rem !important;
    margin-bottom: .25rem !important;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    @include text-xsm-light();
    @include label($col);    
}

@mixin broder-top {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
@mixin broder-bottom {
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}
@mixin border-x {
    border-left: $border-sm;
    border-right: $border-sm;
}

body {
  background-color: #212529 !important;
}

#canvas {
  height: 100vh;
  width: 100vw;
  
  #paper {
    height: 90vh;
    background-color: $color-base;
    box-shadow: 3px 6px 8px -3px rgba(0,0,0,0.3);
    @include broder-bottom();
    @include broder-top();
    position: relative;

    #button-download {
        z-index: 999;
        position: absolute;
        top: 5%;
        right: -20%;
        transform: translate(0, -50%);
        a{
            color: $text-primary;
            text-decoration: none;
            font-size: x-small;
            font-weight: 600;
            i {
                font-size: small;
            }

            &:last-child {
            padding-left: .25rem;
        }
        }
        
    }

    #button-back {
        z-index: 999;
        position: absolute;
        top: 4%;
        left: -15%;
        transform: translate(0, -50%);
        margin-left: auto;
        a{
            color: #6C757Dec;
            text-decoration: none;
            font-size: .75rem;
            i {
                font-size: 1.25rem;
            }
        }
        #hidden-text {
            visibility: hidden;
        }
        #hidden-text:hover {
            color: #6C757Dec !important;
        }
    }
    #button-back:hover #hidden-text {
        visibility: visible;
    }
    #button-back:hover a:first-child {
                color: $color-secondary;
    }
    

  }
  #paper:hover {
    box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.3);
}

}

#header {
    position: relative;
    height: 22%;
    padding: .75rem 0rem !important;
    border: $border-sm;
    @include broder-top();
    background-color: $color-secondary;

    #logo{
        margin: 0 !important;
        padding: 0 !important;
        @include left-content(25%);

        img {
            max-width: 75%;
            max-height: 75%;
            display: block;
        }
    }

    #divider-verticle-md {
        width: .25rem;
        background-color: $color-secondary-light;
        border-radius: .1rem;
    }

    #biography{
        max-height: 100%;
        width: 100%;
        margin-left: auto !important;
        padding-right: 1.25rem !important;
        #aboutme-qus {
            margin-right: auto !important;
            white-space: nowrap;
            @include text-sm-bold();
        }

        #aboutme-ans {
            padding-left: .5rem;
            @include text-xsm();
        }
        #aboutme-ans-address {
            white-space: nowrap;
            padding-left: 2rem;
            @include text-xsm();
        }
        #contact-details {
            right: 2rem;
            top: 1rem;
            margin-left: auto;
            #contacts {
                display: inline-block;
                ul li {
                    white-space: nowrap;
                    @include text-xsm();
                }
                & a {
                    text-decoration: none;
                    @include text-xsm()
                }
            }

            #contacts-icon {
                ul li{
                    
                    font-size: .75rem !important;
                    @include text-xsm();
                &:last-child {
                    cursor: pointer;
                    color: $color-accent-red;
                }
                &:first-child {
                    cursor: pointer;
                    color: $color-accent-yellow;
                }
                }
            
            }

            #social-icons {
                text-align: right;
                font-size: .75rem;

                #icons{
                    margin-left: .25rem;
                    text-decoration: none;
                }
                
                .linkedin {
                    color: #0A66C2;
                }
                .git {
                    color: #171515 ;
                }
                
            }
            
            
        }        

        #aboutme {
            ul li {
                @include text-sm-bold();

                &:last-child {
                    @include text-xsm();
                }
            }
            
        }

    }
}

#content {
    height: 79%;
    background-color: $color-primary;
    padding: .75rem 0rem;
    border-bottom: $border-sm;
    @include border-x();
    @include broder-bottom();

    #sections{
        padding-right: 1.25rem;
        #section {
            width: 100%;
            #topic {
                @include left-content(26%);
                
                & p{
                    @include text-md();
                    text-align: right;
                    text-overflow: ellipsis;
                    padding: 0 !important;
                    margin: 0 !important;
                }
                #shortnote {
                    font-size: 7px;
                    font-weight: 400;
                }
            }

            #divider-verticle-sm {
            width: .15rem;
            background-color: $color-secondary-lighter;
            border-radius: .75rem;
            }
            
            #topic-contents, #topic-contents-last {
                    padding-bottom: .75rem;
                #topic-content {
                    padding-bottom: .25rem;

                    &:last-child {
                    padding-bottom: 0rem !important;
                    }
                }
                #title {
                    margin: 0;
                    padding: 0;
                    @include text-sm-bold();
                    span {
                        margin: 0;
                        padding: 0;
                        @include text-xsm();
                    }
                }
                #title-label {
                    padding: 0;
                    margin: 0;
                    @include text-xsm();
                    span {
                        margin: 0;
                        padding: 0;
                        @include text-sm-bold();
                        @include label($color-accent-blue);
                        &:hover {
                            background-color: #cddafd9c;
                        }
                        a {
                            color: $text-primary;
                            text-decoration: none;
                        }
                    }

                }
                #status {
                    margin-left: .5rem !important;
                    @include skill-title($color-accent-green);
                    
                    &:hover {
                        background-color: #D1E7DD9c;
                    }
                }   
                #information {
                    margin: 0;
                    padding: 0;
                    @include text-xsm();

                    & a {
                        @include label($color-accent-purple);
                        
                        &:hover {
                            background-color: #DACAE39c;
                        }
                    }
                    span {
                        margin: 0;
                        padding: 0;
                        @include text-sm-bold();
                    }
                    }
                    
                    
                    }
            }
                #shortnote {
                    font-size: 7px;
                    font-weight: 400;
                }
            }

            #topic-contents-last {
                padding-bottom: 0rem !important;
            }
        }

#divider-horizontal {
        height: .25rem;
        background-color: $color-secondary-light;
        border-radius: .5rem;
        margin: 1rem 0rem 1rem 0rem;
        margin-left: 2rem;
    }

#footer {
    @include broder-bottom();
    width: 100% !important;
    #section {
        #topic-contents{
            padding-bottom: 0 !important;
            #skill-content {
                margin-bottom: .25rem !important;
                #skills-01{
                    width: 100%;
                    padding-bottom: .25rem !important;
                    flex-wrap: wrap;

                    #skill-title {
                        @include skill-title($color-accent-blue);
    
                        &:hover {
                            background-color: #cddafd9c;
                        }
                    }
                    #skill {
                        @include skill($color-accent-purple);
    
                        &:hover {
                            background-color: #DACAE39c;
                        }
                    }
                }

                #skills-02{
                    width: 100%;
                    padding-bottom: .25rem !important;
                    flex-wrap: wrap;

                    #skill-title {
                        @include skill-title($color-accent-green);
                    }
                    #skill {
                        @include skill($color-accent-blue);
                    }
                }

                #skills-03{
                    width: 100%;
                    padding-bottom: .25rem !important;
                    flex-wrap: wrap;
                    #skill {
                        border: $border-sm;
                        @include skill($color-secondary);

                        &:hover {
                            background-color: $color-base;
                        }
                    }                    
                }
            }
                        
        }
        #topic {
            #skill-language {
                margin-top: .75rem;
                #language {
                    margin-top: .25rem !important;
                    max-width: 100% !important;
                    @include text-xsm();
                    @include label($color-accent-green);
                    cursor: pointer;
                    
                        &:hover {
                            background-color: #D1E7DD9c;
                        }
                }
            }
        }
    }
}

@media (max-width: 1920px) {
    #paper{
        min-width: 70vw;
    }
    #canvas {
        #button {
            position: absolute;
            bottom: 88%;
            right: 10%;
            transform: translate(0, -50%);
            }
    }
}
@media (max-width: 500px) {
    #canvas {
        margin: auto !important;
    }
    #paper{
        min-height: 80vh;
        min-width: 90vw;
        margin: 0 !important;

        #button-back #icon-back, #button-download #icon-download{
        display: none !important;
        }
        #button-back, #button-download {
            display: none !important;
        }
    }
    @mixin text-sm-bold {
        list-style-type: none;
        font-size: 5px !important;
        font-weight: 700;
        color: $text-primary;
    }
    @mixin text-md {
        list-style-type: none;
        font-size: 10px !important;
        font-weight: 700;
        color: $text-primary;
    }
    @mixin text-xsm {
        list-style-type: none;
        font-size: 10px !important;
        font-weight: 400;
        color: $text-secondary-dark;
    }
    @mixin text-xsm-light {
        list-style-type: none;
        font-size: xx-small;
        color: $text-secondary-dark;
    }

}


// Scroll Bar
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  margin: 0rem .5rem;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $color-secondary-light;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 212, 212);
}
::-webkit-scrollbar-thumb:active {
  background: $color-secondary-lighter;
}
::-webkit-scrollbar-track {
  background: $color-secondary-lighter;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}